body {
    font-family: 'Segoe UI', 'Inter', sans-serif;
    background: white !important;
    color: #e8eaf0;
    min-height: 100vh;
    padding: 0px !important;
}

.navbar-box {
    width: 100%;
    background: #4f83ba;
    color: white;
    display: flex;
    align-items: center;
    padding-block: 1rem;
    justify-content: space-around;
}
.search-box {
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-around;
    padding-block: 1rem;
}


.search-matches {
    width: 65%;
    border-radius: 23px;
    padding-block: 1rem;
    padding-inline: 2rem;
    border: 1px solid;
    box-shadow: 0px 0px 7px #808080bf;
    margin-bottom: 0rem;
}

.create-btn {
    padding-block: 0.9rem;
    background: #4f83ba;
    padding-inline: 2rem;
    border-radius: 28px;
    font-size: 0.8rem;
    color: white;
    border: none;
}

.create-box {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
}

button.live-btn {
    padding-block: 0.5rem;
    background: #4f83ba;
    padding-inline: 2rem;
    color: white;
    border: none;
}
button.complete-btn {
    padding-block: 0.5rem;
    padding-inline: 1rem;
    background: transparent;
    color: #4f83ba;
    border: 0.1px solid;
    font-weight: 600;
}

button.all-btn {
    padding-block: 0.5rem;
    border: none;
    padding-inline: 1rem;
    color: white;
    background: #4f83ba;
}
.btn-grp {
    display: flex;
    gap: 12px;
    padding: 1rem;
}
p.msg-matches {
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #4f83ba;
}
.card-boxlive {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.live-card {
    margin-block: 1rem;
    background: white;
    box-shadow: 0px 0px 13px #97797963;
    padding: 1rem;
    gap: 17px;
    width: 77%;
    border: 1px solid;
    color: #4f83ba;
    display: flex;
    flex-direction: column;
    align-items: center;
}